<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftFire.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8428CB721BE73D7D00CF459F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8428CB861BE73D7E00CF459F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8428CB911BE73D7E00CF459F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
